<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/projects">Projects</a></li>
</ul>
